.tabs {
  display: flex;
  justify-content: flex-end;
  margin: 30px 0 0 0;
}

.tabs__btn {
  height: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  font-weight: 700;
  border: none;
  padding: 10px 25px;
  color: #27367b;
  transition: background-color .2s ease-in-out;
}

.tabs__btn--left {
  border-radius: 20px 0 0 20px ;
}

.tabs__btn--right {
  border-radius: 0 20px 20px 0;

}

.tabs__btn-icon {
  width: 30px;
  height: 30px;
  flex: 0 0 30px;
}